*{
    text-align: center;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Helvetica Ultra Light", sans-serif;
    background-color: #f7c682;
    height: 100vh;
}
.calculator{
    background-color: black;
    color: white;
    width: 360px;
    height: 720px;
    border-radius: 45px;
}

.upper{
    height: 270px;
}

.time-and-battery{
    display: flex;
    justify-content: space-between;
}
#battery{
    margin: 18px 31.5px;
}

#time{
    margin: 18px 31.5px;
    font-size: 14px;
}

.display-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 290px;
    height: 200px;
    margin: 0 31.5px 0 31.5px;
}

#display{
    font-size: 75px;
}

#numpad{
    display: flex;
    align-items: center;
    justify-content:center;
}

input{
    border-radius: 50%;
    height: 72px;
    width: 72px;
    font-size: 36px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 2px;
    text-align: center;
    -webkit-appearance: none;
}

.zero{
    width: 150.3px;
    border-radius: 36px;
    text-align: left;
    padding-left: 27px;
}

.num, #dot-btn{
    background-color: #505050;
    color: white;
}
.num:hover{
    background-color: #6e6d6d;
}

#dot-btn:hover{
    background-color: #6e6d6d;
}

.operator, #equal-btn{
    background-color: #ff9500;
    color: #f6f4f4;
}

.operator:hover{
    background-color: #f6f4f4 !important;
    color: #ff9500 !important;
}

#equal-btn:hover{
    background-color: #f6f4f4;
    color: #ff9500;
}

#clear-btn, #np-btn, #percent-btn{
    background-color: #d4d4d2;
    color: black;
    font-size: 27px;
}

#clear-btn:hover{
    background-color: #f1f1ee;
}

#np-btn:hover{
    background-color: #f1f1ee;
}

#percent-btn:hover{
    background-color: #f1f1ee;
}

.footer{
    margin-top: 50px;
    color: #9a5a01;
}

a{
    color: #9a5a01;
}

.github{
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease-in-out;
}

.github:hover{
    transform: scale(1.1) rotate(360deg);
}